/* Dario Aguilar Rodriguez */

#nombre:focus
{
    outline: none;
    border: 2px solid #33c009
}

#apellidos:focus
{
    outline: none;
    border: 2px solid #33c009
}

textarea
{
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
}

form input {
    border-radius: 5px;
}