/* Dario Aguilar Rodriguez */

body
{
    background-image: url(imagenes/fondopapel.jpg);
    background-size: cover;
    margin: 0;  
    text-align: center;
}

h2
{
    font-size: 70px;
}

a
{
    font-size: 50px;
}


button 
{
    background-color: rgb(225, 71, 0);
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}